doctype html
html
    head
        title Plociuch
        meta(charset="utf-8")
        link(rel="stylesheet", href="/css/bootstrap.min.css")
        script(src="/js/jQuery.js")
        script(src="/js/bootstrap.min.js")
    body
        nav(class="navbar navbar-expand-lg navbar-light bg-light")
            a(href="/" class="navbar-brand")
                span Plociuch
        div(class="container main")
            block content