extends ../layouts/layout

block content
    div(class="row")
        div(class="col-12")
            div(class="card")
                div(class="card-header") Account activation
                div(class="card-body")
                    p= msg